/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500;700&display=swap");

/* Resetting Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Body Styles */
body {
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Main, Header, Eligibility-page-form and Footer container Styles */
main,
header,
#eligibility-page-form,
.footer-container {
  position: sticky;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Nav Styles */
nav {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.logo {
  margin-left: 15px;
  color: #131313;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.fa-paw {
  color: #d4507a;
  transition: transform 0.5s ease;
}

.logo:hover .fa-solid.fa-paw {
  transform: rotate(45deg);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul {
  padding: 15px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: #131313;
  margin-right: 20px;
}

.nav-links ul li .active {
  color: #d4507a;
}

.nav-links ul li a:hover {
  color: #d4507a;
  transition: all 0.1s ease;
}

.sign-up-btn {
  background-color: #d4507a;
  color: white;
  border: none;
  padding: 13px 25px;
  border-radius: 50px;
  font-size: 0.95rem;
}

.sign-up-btn:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  margin-right: 12px;
  display: none;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.hero-img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.hero-content h1,
.hero-content p {
  max-width: 600px;
  text-align: center;
}

.hero-content h2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 2.5rem;
  position: relative;
}

.hero-underline {
  position: absolute;
  width: 270px;
  bottom: -40px;
  right: 20px;
}

.hero-content p {
  margin-bottom: 25px;
}

.hero-about-us-btn {
  border: none;
  padding: 15px 40px;
  color: white;
  background-color: #d4507a;
  font-size: 1.1rem;
  border-radius: 50px;
}

.hero-about-us-btn:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Main Section */
/* Eligibility */

#eligibility {
  margin-bottom: 100px;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#eligibility {
  margin-bottom: 100px;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eligibility-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eligibility-content h2,
.eligibility-content p {
  text-align: center;
  max-width: 500px;
}

.eligibility-content h2:nth-of-type(1) {
  font-size: 2.3rem;
  margin-bottom: -7px;
}

.eligibility-content h2:nth-of-type(2) {
  font-size: 2.3rem;
  margin: 0;
}

.eligibility-btn {
  border: none;
  padding: 15px 40px;
  color: white;
  background-color: #d4507a;
  font-size: 1.1rem;
  border-radius: 50px;
  margin-top: 15px;
}

.eligibility-btn:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

.eligibility-img-container {
  width: 50%;
  height: 100%;
}

.eligibility-img {
  object-fit: contain;
  width: 99%;
  height: auto;
  margin-left: 70px;
}

/* Eligibility page styles  */
/* Eligibility Header */
.eligibility-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.eligibility-page-hero-first {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.eligibility-page-hero-second {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eligibility-page-hero-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.eligibility-page-hero-second h2 {
  position: relative;
  color: #131313;
  font-size: 4.1rem;
  margin-bottom: 40px;
}

.eligibility-page-underline {
  position: absolute;
  top: 80px;
  width: 300px;
  left: 0px;
}

.eligibility-page-hero-second p {
  text-align: center;
  max-width: 500px;
}

.eligibility-page-hero-second button {
  border: none;
  padding: 15px 40px;
  color: white;
  background-color: #d4507a;
  font-size: 1.1rem;
  border-radius: 50px;
  margin-top: 15px;
}

.eligibility-page-hero-second button:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Eligibility page main - video section  */

.eligibility-video-container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.eligibility-video {
  margin-top: 50px;
}

/* Eligibility page main - form section  */

#eligibility-page-form {
  margin-top: 130px;
  margin-bottom: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.eligibility-form-first {
  margin-top: 30px;
  color: #131313;
  border-radius: 10px;
  padding: 20px 30px;
  width: 100%;
}

.eligibility-form-second {
  top: 0px;
  padding: 0px 30px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.eligibility-form-second-stick {
  padding-top: 110px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.eligibility-form-second-stick h2 {
  font-size: 2rem;
  margin-bottom: 14px;
  display: none;
}

.placeholder-div {
  height: 100%;
  width: 100%;
}

.general-details h2 {
  font-size: 2rem;
  margin-bottom: 14px;
}

.general-details-first,
.general-details-second,
.general-details-third,
.general-details-fourth,
.vaccinations-first,
.vaccinations-second,
.behavior-first,
.behavior-second,
.socialization-first,
.socialization-second {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.behavior-second {
  margin-top: 25px;
}

.vaccinations h2,
.behavior h2,
.socialization h2 {
  font-size: 2rem;
  margin-bottom: 14px;
  margin-top: 100px;
}

#eligibility-page-form .general-details-first input,
#eligibility-page-form .general-details-second input {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  background-color: #efefef;
  color: #131313;
  font-size: 0.9rem;
}

#eligibility-page-form .general-details-first input:focus,
#eligibility-page-form .general-details-second input:focus {
  outline: none;
}

#eligibility-page-form .general-details-first input:active,
#eligibility-page-form .general-details-second input:active {
  outline: none;
}

.general-details-third-header-container,
.general-details-fourth-header-container,
.vaccinations-first-header-container,
.vaccinations-second-header-container,
.behavior-first-header-container {
  display: flex;
  align-items: center;
}

.behavior-first-header-container,
.behavior-second-header-container {
  width: 50%;
}

.general-details-third h3,
.general-details-fourth h3,
.vaccinations-first-header-container h3,
.vaccinations-second-header-container h3,
.behavior-first-header-container h3,
.behavior-second-header-container h3,
.socialization-first-header-container h3,
.socialization-second-header-container h3 {
  color: #131313;
  margin-left: 3px;
  font-weight: 500;
}

.socialization-first-header-container h3,
.socialization-second-header-container h3 {
  margin-top: 4px;
}

.general-details-third-radio-container,
.general-details-fourth-radio-container,
.vaccinations-first-radio-container,
.vaccinations-second-radio-container,
.socialization-first-radio-container,
.socialization-second-radio-container {
  display: flex;
  gap: 0.4rem;
}

.behavior-first-radio-container,
.behavior-second-radio-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-basis: 400px;
}

.neutered-yes,
.neutered-no,
.medical-no,
.medical-yes,
.vaccinated-yes,
.vaccinated-no,
.received-recent-treatment-yes,
.received-recent-treatment-no,
.attended-day-care-no,
.attended-day-care-yes,
.basic-commands-sit,
.basic-commands-stay,
.basic-commands-come {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  padding: 6px 20px;
  border-radius: 20px;
  color: #131313;
}

.interactions-superb,
.interactions-good,
.interactions-normal,
.interactions-cautious,
.interactions-aggressive {
  cursor: pointer;
  background-color: #efefef;
  border-radius: 20px;
  color: #131313;
  margin: 5px;
  padding: 6px 20px;
}

#neutered-yes,
#neutered-no,
#medical-yes,
#medical-no,
#vaccinated-yes,
#vaccinated-no,
#received-recent-treatment-yes,
#received-recent-treatment-no,
#attended-day-care-yes,
#attended-day-care-no,
#basic-commands-sit,
#basic-commands-stay,
#basic-commands-come {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

#interactions-superb,
#interactions-good,
#interactions-normal,
#interactions-cautious,
#interactions-aggressive,
#interactions-superb2,
#interactions-good2,
#interactions-normal2,
#interactions-cautious2,
#interactions-aggressive2 {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.eligibility-personal-info-first {
  margin-bottom: 10px;
}

.eligibility-personal-info-first,
.eligibility-personal-info-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.4rem;
}

.eligibility-personal-info-first input,
.eligibility-personal-info-second input {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  background-color: #efefef;
  color: #131313;
  font-size: 0.9rem;
}

.confirmation {
  line-break: loose;
  font-size: 1.1rem;
  margin-left: 3px;
}

.confirmation input {
  margin-top: 16px;
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin-left: 5px;
}

.eligibility-form-second button {
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  padding: 13px;
  border: none;
  background-color: #d4507a;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
}

/* What we do */
.what-we-do-header {
  font-size: 4rem;
  text-align: center;
  font-style: italic;
  color: #d4507a;
  margin-bottom: 40px;
}

.what-we-do-first-half {
  margin-bottom: 30px;
}

.what-we-do-first-half,
.what-we-do-second-half {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dog-day-care {
  padding: 40px;
  background-color: #d4507a;
  width: 40%;
  color: white;
  border-radius: 15px;
}

.dog-training {
  border-radius: 15px;
  padding: 52.2px 40px;
  color: #131313;
  background-color: rgba(234, 234, 234, 0.275);
  width: 60%;
}

.health-welness {
  border-radius: 15px;
  padding: 52.2px 40px;
  color: #131313;
  background-color: rgba(242, 242, 242, 0.3);
  width: 60%;
}

.puppy-training {
  padding: 40px;
  background-color: #d4507a;
  width: 40%;
  color: white;
  border-radius: 15px;
}

.dog-day-care-header h2,
.dog-training-header h2,
.health-welness h2,
.puppy-training h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.dog-day-care-content p,
.dog-training-content p,
.health-welness p,
.puppy-training p {
  margin-bottom: 15px;
}

#what-we-do i {
  padding-right: 9px;
  font-size: 1.2rem;
}

/* Location */
#location {
  margin-top: 170px;
}

.location {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-img-container,
.location-map-container {
  width: 50%;
}

.location-img {
  max-width: 90%;
  height: auto;
}

.location-map {
  width: 100%;
  height: 500px;
  border-radius: 15px;
}

.location-header h2 {
  margin-bottom: 50px;
  font-size: 4rem;
  text-align: center;
  font-style: italic;
  color: #d4507a;
}

/* About Page Styles  */
/* Founders Info Section */
#founders-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.founders-info-first {
  width: 70%;
}

.founders-info-second {
  width: 30%;
}

.founders-info-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Footer */
#footer {
  color: white;
  padding: 60px 0;
  margin-top: 180px;
  background-color: #131313;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-links,
.footer-social,
.footer-news {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.footer-links {
  align-items: flex-start;
}

.footer-social {
  align-items: center;
}

.footer-news {
  align-items: flex-end;
}

.footer-links h3,
.footer-social h3,
.footer-news h3 {
  font-size: 2.6rem;
}

.footer-social h3 {
  text-align: center;
  padding-right: 12px;
}

.footer-news h3 {
  margin-bottom: 8px;
}

.footer-links ul li {
  margin-bottom: 7px;
}

.footer-links ul li a {
  font-size: 1.2rem;
}

.footer-links ul li a:hover {
  color: #d4507a;
}

.footer-container i {
  font-size: 2.3rem;
  padding-right: 10px;
}

.footer-container i:hover {
  color: #d4507a;
  cursor: pointer;
  transition: all 0.1s ease;
}

.footer-social-links-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px;
  border-radius: 10px 0px 0px 10px;
}

.newsletter-btn {
  font-weight: 600;
  padding: 12px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-btn:hover {
  background-color: white;
  color: #131313;
  transition: all 0.2s ease;
  cursor: pointer;
}

.copyright-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.copyright-container h3 {
  font-weight: 500;
}

/* Screen sizes smaller than 997px */
@media screen and (max-width: 997px) {
  /* Header section  */
  .hero-img-container {
    width: 100%;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h2 {
    font-size: 2rem;
  }
  .hero-underline {
    width: 230px;
    right: 10px;
  }

  /* Main Section */
  /* Eligibility */
  .eligibility-img-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  /* What we do */
  #what-we-do {
    margin-top: 140px;
  }

  .what-we-do-first-half {
    margin-bottom: 1rem;
  }

  .what-we-do-first-half,
  .what-we-do-second-half {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .dog-day-care,
  .dog-training,
  .health-welness,
  .puppy-training {
    width: 100%;
  }

  .dog-day-care {
    order: 0;
  }

  .dog-training {
    order: 1;
  }

  .puppy-training {
    order: 2;
  }

  .health-welness {
    order: 3;
  }

  /* Location */
  #location {
    margin-top: 170px;
    margin-bottom: 200px;
  }

  .location {
    flex-direction: column;
  }

  .location-img-container,
  .location-map-container {
    width: 99%;
  }

  /* Footer */
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer-links,
  .footer-social,
  .footer-news {
    width: 100%;
  }

  .footer-links,
  .footer-social,
  .footer-news {
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }

  .footer-links h3,
  .footer-social h3,
  .footer-news h3 {
    font-size: 2.8rem;
  }

  .footer-links ul li a {
    font-size: 1.5rem;
  }

  /* Eligibility page main - form section  */
  #eligibility-page-form {
    padding: 0;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .eligibility-form-second-stick {
    width: 100%;
    padding-top: 30px;
    position: relative;
  }

  .eligibility-form-second-stick h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
  }

  .general-details h2 {
    font-size: 1.9rem;
  }

  .placeholder-div {
    height: 0%;
    width: 0%;
  }

  .behavior-second {
    margin-top: 20px;
  }

  .general-details-third h3,
  .general-details-fourth h3,
  .vaccinations-first-header-container h3,
  .vaccinations-second-header-container h3,
  .behavior-first-header-container h3,
  .behavior-second-header-container h3,
  .socialization-first-header-container h3 {
    margin-left: 0px;
  }

  .vaccinations h2,
  .behavior h2 {
    font-size: 1.9rem;
  }
}

/* Screen sizes smaller than 786px */
@media screen and (max-width: 786px) {
  /* Nav Styles */
  .logo {
    font-size: 1.4rem;
  }

  .nav-toggle-label {
    font-size: 1.3rem;
    color: #131313;
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
  }

  nav {
    padding-top: 25px;
    position: relative;
  }

  .nav-links ul {
    padding: 0;
    padding-top: 15px;
    flex-direction: column;
    justify-content: center;
  }

  .nav-links ul li {
    display: block;
    width: 95%;
    margin-bottom: 15px;
    font-size: 1.2rem;
  }

  .nav-links ul li a {
    display: block;
    padding: 15px;
  }

  .nav-links ul li .bg-active {
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color: #d4507a;
    color: white;
    display: block;
  }

  .nav-links ul li .bg-active:hover {
    background-color: #d4507a;
    color: white;
  }

  .nav-links ul li:nth-of-type(1) {
    border-top: none;
  }

  .nav-links .sign-up-container {
    width: 100%;
    padding: 0;
  }

  .nav-links .sign-up-btn {
    width: 100%;
    background-color: #ffffff;
    color: #131313;
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-size: 1.2rem;
    text-align: start;
  }

  .sign-up-btn:hover {
    background-color: white;
    color: #d4507a;
  }

  #nav-toggle:checked + .nav-toggle-label + .nav-links {
    width: 100%;
    display: block;
    top: 100%;
    position: absolute;
    display: block;
    background-color: white;
    z-index: 20;
  }

  /* Header Styles */
  header {
    margin-top: 20px;
    flex-direction: column;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .hero-img {
    margin-left: 60px;
    height: 100%;
    width: 85%;
    object-fit: contain;
  }

  /* Main Section */
  /* Eligibility */

  #eligibility {
    margin-top: 300px;
    margin-bottom: 400px;
    flex-direction: column;
  }

  .eligibility-content {
    order: 1;
    width: 100%;
  }

  .eligibility-img-container {
    width: 100%;
    order: 0;
  }

  .eligibility-content h2:nth-of-type(1) {
    width: 100%;
    font-size: 1.7rem;
    margin-bottom: -7px;
  }

  .eligibility-content h2:nth-of-type(2) {
    width: 100%;
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 10px;
  }

  .eligibility-content p {
    width: 100%;
  }
  .eligibility-btn {
    margin-bottom: 20px;
  }
  .eligibility-img {
    width: 75%;
    margin-left: 65px;
  }

  /* Eligibility page styles  */
  /* Eligibility page header section */
  .eligibility-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
  }

  .eligibility-page-hero-first {
    position: sticky;
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .eligibility-page-hero-second {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .eligibility-page-hero-img {
    width: 85%;
    height: 85%;
    object-fit: contain;
    margin-left: 60px;
  }

  .eligibility-page-hero-second h2 {
    margin-top: -80px;
    position: relative;
    color: #131313;
    font-size: 3.1rem;
    margin-bottom: 40px;
  }

  .eligibility-page-underline {
    position: absolute;
    top: 60px;
    width: 250px;
    left: -10px;
  }

  /* Eligibility page main - video section  */

  .eligibility-video-container {
    margin-top: 100px;
    width: 100%;
    height: 100%;
  }

  /* Eligibility page main - form section  */
  .eligibility-form-first,
  .eligibility-form-second {
    margin-top: 30px;
    padding: 20px 10px;
  }

  .general-details-first,
  .general-details-second,
  .general-details-third,
  .general-details-fourth,
  .vaccinations-first,
  .vaccinations-second,
  .behavior-first,
  .behavior-second,
  .socialization-first,
  .socialization-second {
    margin-top: 7px;
    flex-direction: column;
  }

  .general-details-third,
  .general-details-fourth,
  .vaccinations-first,
  .vaccinations-second,
  .general-details-third,
  .general-details-fourth {
    margin-top: 17px;
  }

  .eligibility-form-second-stick h2 {
    text-align: center;
  }

  .general-details h2 {
    font-size: 2rem;
    text-align: center;
  }

  .behavior-first,
  .behavior-second {
    width: 100%;
    flex-direction: column;
  }

  .behavior-second {
    margin-top: 25px;
  }

  .behavior-first-header-container,
  .behavior-second-header-container {
    width: 100%;
  }

  .general-details-third h3,
  .general-details-fourth h3,
  .vaccinations-first-header-container h3,
  .vaccinations-second-header-container h3,
  .behavior-first-header-container h3,
  .behavior-second-header-container h3,
  .socialization-first-header-container h3,
  .socialization-second-header-container h3 {
    font-size: 1rem;
  }

  .general-details-third-radio-container,
  .general-details-fourth-radio-container,
  .vaccinations-first-radio-container,
  .vaccinations-second-radio-container,
  .socialization-first-radio-container,
  .socialization-second-radio-container {
    width: 100%;
  }

  .behavior-first-radio-container,
  .behavior-second-radio-container {
    display: contents;
    width: 100%;
  }

  #eligibility-page-form .general-details-first input,
  #eligibility-page-form .general-details-second input {
    padding: 19px 20px;
  }

  .neutered-yes,
  .neutered-no,
  .medical-no,
  .medical-yes,
  .vaccinated-yes,
  .vaccinated-no,
  .received-recent-treatment-yes,
  .received-recent-treatment-no,
  .attended-day-care-yes,
  .attended-day-care-no,
  .basic-commands-sit,
  .basic-commands-stay,
  .basic-commands-come {
    width: 100%;
    padding: 12px 20px;
  }

  .interactions-superb,
  .interactions-good,
  .interactions-normal,
  .interactions-cautious,
  .interactions-aggressive {
    padding: 12px 20px;
    width: 100%;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
  }

  .vaccinations h2,
  .behavior h2,
  .socialization h2 {
    font-size: 2rem;
  }

  .eligibility-personal-info-first {
    margin-bottom: 7px;
  }

  .eligibility-personal-info-first,
  .eligibility-personal-info-second {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.4rem;
  }

  .eligibility-personal-info-first input,
  .eligibility-personal-info-second input {
    width: 100%;
    padding: 19px 20px;
  }

  .confirmation {
    cursor: pointer;
    font-size: 0.65rem;
    margin-left: 0px;
  }

  .confirmation input {
    width: 12px;
    height: 12px;
  }

  .eligibility-form-second button {
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    padding: 13px;
    border: none;
    background-color: #d4507a;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
  }

  /* What we do  */

  .what-we-do-header {
    font-size: 2.8rem;
  }

  /* Location */

  .location-header h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }

  .location-img {
    width: 80%;
    margin-left: 60px;
  }

  .location-img-container {
    margin-bottom: 30px;
  }

  .location-map {
    height: 400px;
  }
}

/* Screen sizes smaller than 600px */
@media screen and (max-width: 600px) {
  /* Header */
  .hero-content h1 {
    font-size: 1.5rem;
  }
  .hero-underline {
    width: 210px;
    right: 20px;
    bottom: -30px;
  }
  .hero-content h2 {
    margin-bottom: 40px;
  }

  /* Main Section */
  /* Eligibility */
  #eligibility {
    margin-top: 90px;
    margin-bottom: 100px;
    flex-direction: column;
  }

  /* What we do  */

  .what-we-do-header {
    font-size: 1.7rem;
  }

  /* Location */
  .location-header h2 {
    font-size: 1.9rem;
  }
}
