/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500;700&display=swap");

/* Resetting Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

fieldset {
  border: none;
}

.hidden-heading {
  display: none;
}

/* Body Styles */
body {
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Main, Header, Eligibility-page-form and Footer container Styles */
main,
header,
#eligibility-page-form,
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo h1 {
  display: inline-block;
  margin-left: 15px;
  color: #131313;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
}

.fa-paw {
  color: #a7244e;
  transition: transform 0.5s ease;
}

.logo:hover .fa-solid.fa-paw {
  transform: rotate(45deg);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul {
  padding: 15px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: #131313;
  margin-right: 20px;
}

.nav-links ul li .active {
  color: #a7244e;
  font-weight: 500;
}

.nav-links ul li a:hover {
  color: #a7244e;
  transition: all 0.1s ease;
}

.nav-links ul li .eligibility-nav-btn {
  background-color: #a7244e;
  color: white;
  border: none;
  padding: 13px 25px;
  border-radius: 50px;
  font-size: 0.95rem;
}

.nav-links ul li .eligibility-nav-btn:hover {
  background-color: #131313;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  margin-right: 12px;
  display: none;
}

.nav-toggle-label span {
  visibility: hidden;
  font-size: 0.1px;
  width: 0;
  height: 0;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

#hero-section {
  padding-top: 140px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.hero-img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.hero-content h2,
.hero-content p {
  max-width: 600px;
  text-align: center;
}

.hero-content h2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 2.5rem;
  position: relative;
}

.hero-underline {
  position: absolute;
  width: 270px;
  bottom: -40px;
  right: 92px;
}

.hero-content p {
  margin-bottom: 25px;
}

.hero-about-us-btn {
  border: none;
  padding: 15px 40px;
  color: white;
  background-color: #a7244e;
  font-size: 1.1rem;
  border-radius: 50px;
}

.hero-about-us-btn:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Main Section */
/* Eligibility */

#eligibility {
  margin-bottom: 100px;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#eligibility {
  margin-bottom: 100px;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eligibility-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eligibility-content h2,
.eligibility-content p {
  text-align: center;
  max-width: 500px;
  margin-bottom: 15px;
}

.eligibility-content h2 {
  font-size: 2.3rem;
  margin-bottom: 17px;
}

.eligibility-btn {
  border: none;
  padding: 15px 40px;
  color: white;
  background-color: #a7244e;
  font-size: 1.1rem;
  border-radius: 50px;
  margin-top: 15px;
}

.eligibility-btn:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

.eligibility-img-container {
  width: 50%;
  height: 100%;
}

.eligibility-img {
  object-fit: contain;
  width: 600px;
  height: 600px;
  margin-left: 70px;
}

/* Eligibility page styles  */
/* Eligibility Header */
.eligibility-page-header {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.eligibility-page-hero-first {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.eligibility-page-hero-second {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eligibility-page-hero-img {
  max-width: 500px;
  min-width: 350px;
  min-height: 350px;
  object-fit: contain;
}

.eligibility-page-hero-second h2 {
  position: relative;
  color: #131313;
  font-size: 4.1rem;
  margin-bottom: 40px;
}

.eligibility-page-underline {
  position: absolute;
  top: 80px;
  width: 300px;
  left: 0px;
}

.eligibility-page-hero-second p {
  text-align: center;
  max-width: 500px;
}

.eligibility-page-hero-second button {
  border: none;
  padding: 15px 40px;
  color: white;
  background-color: #a7244e;
  font-size: 1.1rem;
  border-radius: 50px;
  margin-top: 15px;
}

.eligibility-page-hero-second button:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Eligibility page main - video section  */

.eligibility-video-container {
  width: 100%;
  height: 100%;
}

.explainer-video-p {
  margin-top: 100px;
  font-size: 1.2rem;
  color: #131313;
  margin-bottom: 10px;
}

.explainer-video-p i {
  color: #131313;
}

/* Eligibility page main - form section  */

#eligibility-page-form {
  margin-top: 130px;
  margin-bottom: 390px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.eligibility-form-first {
  margin-top: 30px;
  color: #131313;
  border-radius: 10px;
  padding: 20px 30px;
  width: 100%;
}

.eligibility-form-second {
  top: 0px;
  padding: 0px 30px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.eligibility-form-second-stick {
  padding-top: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.eligibility-form-second-stick h2 {
  font-size: 2rem;
  margin-bottom: 14px;
  display: none;
}

.placeholder-div {
  height: 100%;
  width: 100%;
}

.general-details .general-details-header {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 14px;
}

.vaccinations,
.behavior {
  margin-top: 100px;
}

.general-details-first,
.general-details-second,
.general-details-third,
.general-details-fourth,
.vaccinations-first,
.vaccinations-second,
.behavior-first,
.behavior-second,
.socialization-first,
.socialization-second {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
}

.behavior-second {
  align-items: center;
  margin-top: 25px;
}

.vaccinations .vaccinations-header,
.behavior .behavior-header,
.socialization .socialization-header {
  font-size: 2rem;
  margin-bottom: 14px;
  margin-top: 100px;
  font-weight: 600;
}

.socialization {
  margin-top: 100px;
}

#eligibility-page-form .general-details-first label,
#eligibility-page-form .general-details-second label,
.eligibility-form-second-stick label {
  width: 0px;
  height: 0px;
}

.general-details-age-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
}

#eligibility-page-form .general-details-first input,
#eligibility-page-form .general-details-second input {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  background-color: #efefef;
  color: #131313;
  font-size: 0.9rem;
}

#eligibility-page-form .general-details-first input {
  width: 45%;
}

#eligibility-page-form
  .general-details-first
  .general-details-age-container
  input {
  width: 50%;
}

#eligibility-page-form .general-details-first input:focus,
#eligibility-page-form .general-details-second input:focus {
  outline: none;
}

#eligibility-page-form .general-details-first input:active,
#eligibility-page-form .general-details-second input:active {
  outline: none;
}

.general-details-third-legend-container,
.general-details-fourth-legend-container {
  display: flex;
  align-items: center;
}

.general-details-third-header-container,
.general-details-fourth-header-container,
.vaccinations-first-header-container,
.vaccinations-second-header-container,
.behavior-first-header-container {
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.behavior-first-header-container,
.behavior-second-header-container {
  width: 50%;
}

.general-details-third-header-container p,
.general-details-fourth-header-container p,
.vaccinations-first-header-container p,
.vaccinations-second-header-container p,
.behavior-first-header-container p,
.behavior-second-header-container p,
.socialization-first-header-container p,
.socialization-second-header-container p {
  color: #131313;
  margin-left: 3px;
  font-weight: 500;
  font-size: 1rem;
}

.socialization-first-header-container h3,
.socialization-second-header-container h3 {
  margin-top: 4px;
  margin-left: 4px;
}

.general-details-third-radio-container,
.general-details-fourth-radio-container,
.vaccinations-first-radio-container,
.vaccinations-second-radio-container,
.socialization-first-radio-container,
.socialization-second-radio-container {
  display: flex;
  gap: 0.4rem;
}

.behavior-first-radio-container,
.behavior-second-radio-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-basis: 400px;
}

.neutered-yes,
.neutered-no,
.medical-no,
.medical-yes,
.vaccinated-yes,
.vaccinated-no,
.received-recent-treatment-yes,
.received-recent-treatment-no,
.attended-day-care-no,
.attended-day-care-yes,
.basic-commands-sit,
.basic-commands-stay,
.basic-commands-come {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  padding: 6px 20px;
  border-radius: 20px;
  color: #131313;
}

.interactions-superb,
.interactions-good,
.interactions-normal,
.interactions-cautious,
.interactions-aggressive {
  cursor: pointer;
  background-color: #efefef;
  border-radius: 20px;
  color: #131313;
  margin: 5px;
  padding: 6px 20px;
}

#neutered-yes,
#neutered-no,
#medical-yes,
#medical-no,
#vaccinated-yes,
#vaccinated-no,
#received-recent-treatment-yes,
#received-recent-treatment-no,
#attended-day-care-yes,
#attended-day-care-no,
#basic-commands-sit,
#basic-commands-stay,
#basic-commands-come {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

#interactions-superb,
#interactions-good,
#interactions-normal,
#interactions-cautious,
#interactions-aggressive,
#interactions-superb2,
#interactions-good2,
#interactions-normal2,
#interactions-cautious2,
#interactions-aggressive2 {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.eligibility-personal-info-first {
  margin-bottom: 10px;
}

.eligibility-personal-info-first,
.eligibility-personal-info-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.1rem;
}

.eligibility-personal-info-first input,
.eligibility-personal-info-second input {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  background-color: #efefef;
  color: #131313;
  font-size: 0.9rem;
}

.confirmation {
  cursor: pointer;
  line-break: loose;
  font-size: 1.1rem;
  margin-left: 3px;
}

.confirmation input {
  margin-top: 16px;
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin-left: 5px;
}

.eligibility-form-second button {
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  padding: 13px;
  border: none;
  background-color: #a7244e;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
}

.eligibility-form-second button:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Submission section */
#submission {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submission-img-container {
  margin-top: 140px;
  display: flex;
  width: 100%;
  height: 100%;
}

.submission-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submission-content h2 {
  margin-top: 120px;
  font-size: 4.5rem;
  font-style: italic;
  color: #a7244e;
}

.submission-content p {
  font-size: 1.1rem;
  text-align: center;
  max-width: 500px;
}

.submission-img {
  min-width: 400px;
  width: 600px;
}

/* Newsletter Submission section  */
#newsletter {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.newsletter-img {
  min-width: 400px;
  width: 600px;
}

.newsletter-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newsletter-content h2 {
  margin-top: 120px;
  font-size: 4.5rem;
  font-style: italic;
  color: #a7244e;
}

.newsletter-content p {
  font-size: 1.1rem;
  text-align: center;
  max-width: 500px;
}

/* What we do */
.what-we-do-header {
  font-size: 4rem;
  text-align: center;
  font-style: italic;
  color: #a7244e;
  margin-bottom: 40px;
}

.what-we-do-first-half {
  margin-bottom: 30px;
}

.what-we-do-first-half,
.what-we-do-second-half {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dog-day-care {
  padding: 40px;
  background-color: #a7244e;
  width: 40%;
  color: white;
  border-radius: 15px;
}

.dog-training {
  border-radius: 15px;
  padding: 52.2px 40px;
  color: #131313;
  background-color: rgba(234, 234, 234, 0.275);
  width: 60%;
}

.health-wellness {
  border-radius: 15px;
  padding: 52.2px 40px;
  color: #131313;
  background-color: rgba(242, 242, 242, 0.3);
  width: 60%;
}

.puppy-training {
  padding: 40px;
  background-color: #a7244e;
  width: 40%;
  color: white;
  border-radius: 15px;
}

.dog-day-care-header h2,
.dog-training-header h2,
.health-wellness h2,
.puppy-training h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.dog-day-care-content p,
.dog-training-content p,
.health-wellness p,
.puppy-training p {
  margin-bottom: 15px;
}

#what-we-do i {
  padding-right: 9px;
  font-size: 1.2rem;
}

/* Location */
#location {
  margin-top: 170px;
}

.location {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-img-container,
.location-map-container {
  width: 50%;
}

.location-img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.location-map {
  width: 100%;
  height: 500px;
  border-radius: 15px;
}

.location-header h2 {
  margin-bottom: 50px;
  font-size: 4rem;
  text-align: center;
  font-style: italic;
  color: #a7244e;
}

/* About Page Styles  */
/* Founders Info Section */
#founders-info {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.founders-info-first {
  width: 65%;
}

.founders-info-second {
  width: 35%;
}

.founders-info-img-container {
  position: relative;
}

.founders-info-first h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #a7244e;
  font-style: italic;
}

.founders-info-first p span {
  color: #a7244e;
  font-weight: 500;
}

.founders-info-img {
  min-width: 350px;
  max-width: 600px;
  min-height: 350px;
  object-fit: contain;
}

/* Our Mission Section  */
#our-mission {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-mission-first {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.our-mission-img {
  min-width: 350px;
  max-width: 600px;
  min-height: 350px;
}

.our-mission-second h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #a7244e;
  font-style: italic;
}

.our-mission-second p span {
  color: #a7244e;
  font-weight: 500;
}

/* Our Trainers section  */
#our-trainers {
  margin-top: 200px;
}

#our-trainers h2 {
  font-size: 4rem;
  text-align: center;
  color: #a7244e;
  margin-bottom: 80px;
  font-style: italic;
}

.our-trainers-first,
.our-trainers-second,
.our-trainers-third {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.our-trainers-first-img-container,
.our-trainers-third-img-container {
  padding-top: 20px;
  background: linear-gradient(to right, #a7244e, transparent 60%);
  display: flex;
  border-radius: 30px;
  border-bottom-right-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 70%;
  transition: border-bottom-right-radius 0.3s ease;
}

.our-trainers-second-img-container {
  padding-top: 20px;
  background: linear-gradient(to right, transparent 60%, #a7244e);
  display: flex;
  border-radius: 30px;
  border-bottom-left-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 70%;
  transition: border-bottom-right-radius 0.3s ease;
}

.our-trainers-first-content,
.our-trainers-third-content {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.our-trainers-second-content {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: end;
}

.our-trainers-first-img,
.our-trainers-third-img {
  border-bottom-right-radius: 50%;
  min-width: 350px;
  width: 450px;
}

.our-trainers-second-img {
  border-bottom-left-radius: 50%;
  min-width: 350px;
  width: 450px;
}

.our-trainers-first-content h3,
.our-trainers-third-content h3 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: #a7244e;
}

.our-trainers-second-content h3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3rem;
  color: #a7244e;
}

.our-trainers-first-content h3 span,
.our-trainers-second-content h3 span,
.our-trainers-third-content h3 span {
  margin-left: 12px;
  margin-bottom: 2px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #131313;
  padding: 9px 25px;
  border-radius: 10px;
}

.our-trainers-first-content h3 span i,
.our-trainers-second-content h3 span i,
.our-trainers-third-content h3 span i {
  margin-left: 3px;
}

.our-trainers-first-content p,
.our-trainers-second-content p,
.our-trainers-third-content p {
  font-size: 1rem;
  color: #131313;
}

/* Join the Family */
#join-the-family {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-the-family-second {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.join-the-family-first h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #a7244e;
  font-style: italic;
}

.join-the-family-img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.join-the-family-first p {
  margin-bottom: 35px;
}

.join-the-family-first p span {
  color: #a7244e;
  font-weight: 500;
}

.join-the-family-first a {
  margin-top: 25px;
  border: none;
  padding: 15px 40px;
  color: white;
  background-color: #a7244e;
  font-size: 1.1rem;
  border-radius: 50px;
}

.join-the-family-first a:hover {
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Footer */
#footer {
  color: white;
  padding: 60px 0;
  margin-top: 180px;
  background-color: #131313;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-contact,
.footer-social,
.footer-news {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.footer-contact {
  align-items: flex-start;
}

.footer-social {
  align-items: center;
}

.footer-news {
  align-items: flex-end;
}

.footer-contact h3,
.footer-social h3,
.footer-news h3 {
  font-size: 2.6rem;
}

.footer-contact h3 {
  margin-bottom: 10px;
}

.footer-social h3 {
  text-align: center;
  padding-right: 12px;
}

.footer-news h3 {
  margin-bottom: 8px;
}

.footer-contact ul li {
  cursor: pointer;
  margin-bottom: 7px;
}

.footer-contact ul li {
  font-size: 1.2rem;
}

.footer-contact ul li:hover {
  color: #a7244e;
}

.footer-contact li i {
  font-size: 1.1rem;
  margin-right: -8px;
}

.footer-container i {
  font-size: 2.3rem;
  padding-right: 10px;
}

.footer-container i:hover {
  color: #a7244e;
  cursor: pointer;
  transition: all 0.1s ease;
}

.footer-social-links-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-news label {
  font-size: 0.1rem;
  width: 0px;
  height: 0px;
}

.newsletter-input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px;
  border-radius: 10px 0px 0px 10px;
}

.newsletter-btn {
  font-weight: 600;
  padding: 12px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-btn:hover {
  background-color: white;
  color: #131313;
  transition: all 0.2s ease;
  cursor: pointer;
}

.copyright-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.copyright-container h3 {
  font-weight: 500;
}

/* Screen sizes smaller than 997px */
@media screen and (max-width: 997px) {
  /* Header section  */
  .hero-img-container {
    width: 100%;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h2 {
    font-size: 1.7rem;
  }
  .hero-underline {
    width: 230px;
    left: 40px;
  }

  /* Main Section */
  /* Eligibility */
  .eligibility-img-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  /* What we do */
  #what-we-do {
    margin-top: 140px;
  }

  .what-we-do-first-half {
    margin-bottom: 1rem;
  }

  .what-we-do-first-half,
  .what-we-do-second-half {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .dog-day-care,
  .dog-training,
  .health-wellness,
  .puppy-training {
    width: 100%;
  }

  .dog-day-care {
    order: 0;
  }

  .dog-training {
    order: 1;
  }

  .puppy-training {
    order: 2;
  }

  .health-wellness {
    order: 3;
  }

  /* Location */
  #location {
    margin-top: 170px;
    margin-bottom: 200px;
  }

  .location {
    flex-direction: column;
  }

  .location-img-container,
  .location-map-container {
    width: 99%;
  }

  /* Footer */
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer-contact,
  .footer-social,
  .footer-news {
    width: 100%;
  }

  .footer-contact,
  .footer-social,
  .footer-news {
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }

  .footer-contact h3,
  .footer-social h3,
  .footer-news h3 {
    font-size: 2.8rem;
  }

  .footer-contact ul li a {
    font-size: 1.5rem;
  }

  /* Eligibility page main - form section  */
  #eligibility-page-form {
    padding: 0;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .eligibility-form-second-stick {
    width: 100%;
    padding-top: 30px;
    position: relative;
  }

  .eligibility-form-second-stick h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
  }

  .general-details h2 {
    font-size: 1.9rem;
  }

  .placeholder-div {
    height: 0%;
    width: 0%;
  }

  .behavior-second {
    margin-top: 20px;
  }

  .general-details-third p,
  .general-details-fourth p,
  .vaccinations-first-header-container p,
  .vaccinations-second-header-container p,
  .behavior-first-header-container p,
  .behavior-second-header-container p,
  .socialization-first-header-container p {
    margin-left: 4px;
  }

  .socialization-first-header-container p,
  .socialization-second-header-container p {
    margin-left: 4px;
  }

  .vaccinations h2,
  .behavior h2 {
    font-size: 1.9rem;
  }

  /* Submission section */
  #submission {
    flex-direction: column;
  }

  .submission-img-container {
    display: flex;
    justify-content: center;
  }

  .submission-content h2 {
    margin-top: 40px;
    font-size: 4rem;
  }

  .submission-img {
    width: 500px;
  }

  /* Newsletter Submission section  */
  #newsletter {
    flex-direction: column;
  }

  .newsletter-img-container {
    width: 100%;
    height: 100%;
  }

  .newsletter-img {
    margin-right: 30px;
    width: 500px;
  }

  .newsletter-content h2 {
    margin-top: 30px;
    font-size: 4rem;
  }

  .newsletter-content p {
    font-size: 1.1rem;
  }

  /* About Page Styles  */
  /* Founders Info Section */
  #founders-info {
    flex-direction: column;
  }

  .founders-info-first {
    order: 1;
    width: 80%;
  }

  .founders-info-second {
    order: 0;
    width: 80%;
  }

  .founders-info-first h2 {
    font-size: 3rem;
    text-align: center;
  }

  .founders-info-first p {
    text-align: center;
  }

  .founders-info-img {
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Our Mission Section  */
  #our-mission {
    margin-top: 0px;
    flex-direction: column;
  }

  .our-mission-img {
    margin-bottom: 30px;
    margin-top: 120px;
  }

  .our-mission-second h2 {
    text-align: center;
    font-size: 3rem;
  }

  .our-mission-second p {
    padding: 0 20px;
    text-align: center;
  }

  /* Our Trainers section  */
  #our-trainers h2 {
    font-size: 2.4rem;
    margin-bottom: 15px;
  }

  .our-trainers-first,
  .our-trainers-second,
  .our-trainers-third {
    margin-top: 0px;
    flex-direction: column;
    width: 100%;
  }

  .our-trainers-first-img-container,
  .our-trainers-third-img-container {
    background: linear-gradient(to top, #a7244e, transparent 60%);
    border-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
  }

  .our-trainers-second-img-container {
    background: linear-gradient(to bottom, transparent 60%, #a7244e);
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
  }

  .our-trainers-first-content,
  .our-trainers-third-content {
    padding: 0 20px;
    text-align: center;
    height: 300px;
  }

  .our-trainers-second-content {
    order: 1;
    padding: 0 20px;
    text-align: center;
    height: 300px;
  }

  .our-trainers-first-img,
  .our-trainers-third-img {
    border-bottom-right-radius: 0%;
    min-width: 300px;
    width: 350px;
  }

  .our-trainers-second-img {
    order: 0;
    border-bottom-left-radius: 0%;
    min-width: 300px;
    width: 350px;
  }

  .our-trainers-first-content h3,
  .our-trainers-third-content h3 {
    justify-content: center;
    font-size: 2rem;
  }

  .our-trainers-second-content h3 {
    justify-content: center;
    font-size: 2rem;
  }

  .our-trainers-first-content h3 span,
  .our-trainers-second-content h3 span,
  .our-trainers-third-content h3 span {
    font-size: 0.9rem;
    padding: 7px 15px;
  }

  /* Join the Family */
  #join-the-family {
    margin-top: 10px;
    flex-direction: column;
  }

  .join-the-family-first {
    order: 1;
  }

  .join-the-family-second {
    margin-top: 100px;
    order: 0;
    width: 100%;
    height: 100%;
  }

  .join-the-family-first h2 {
    font-size: 2.3rem;
    text-align: center;
  }

  .join-the-family-first p {
    padding: 0 20px;
    text-align: center;
  }

  .join-the-family-img {
    margin-left: 40px;
    width: 350px;
    height: 350px;
  }

  .join-the-family-btn-container {
    display: flex;
    justify-content: center;
  }
}

/* Screen sizes smaller than 786px */
@media screen and (max-width: 786px) {
  /* Nav Styles */
  .logo {
    font-size: 1.4rem;
  }

  .nav-toggle-label {
    margin-bottom: 0;
    font-size: 1.3rem;
    color: #131313;
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    padding-top: 10px;
  }

  header {
    padding-top: 10px;
    padding-bottom: 8px;
    position: relative;
  }

  nav {
    padding-top: 15px;
  }

  .nav-links ul {
    padding: 0 10px;
    padding-top: 15px;
    padding-right: 15px;
    flex-direction: column;
    justify-content: center;
  }

  .nav-links ul li {
    display: block;
    width: 95%;
    margin-bottom: 15px;
    font-size: 1.2rem;
  }

  .nav-links ul li a {
    display: block;
    padding: 15px;
  }

  .nav-links ul li .bg-active {
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color: #a7244e;
    color: white;
    display: block;
  }

  .nav-links ul li .bg-active:hover {
    background-color: #a7244e;
    color: white;
  }

  .nav-links ul li:nth-of-type(1) {
    border-top: none;
  }

  .nav-links .sign-up-container {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .nav-links ul li .eligibility-nav-btn {
    width: 100%;
    background-color: #ffffff;
    color: #131313;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: start;
  }

  .nav-links ul li .bg-active {
    background-color: #a7244e;
    color: white;
  }

  .nav-links ul li .eligibility-nav-btn:hover {
    background-color: #ffffff;
    color: #a7244e;
  }

  .nav-links ul li .bg-active:hover {
    background-color: #a7244e;
    color: white;
  }

  #nav-toggle:checked + .nav-toggle-label + .nav-links {
    width: 100%;
    display: block;
    top: 90%;
    left: 0px;
    position: absolute;
    display: block;
    background-color: white;
    z-index: 20;
  }

  /* Header Styles */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
  }

  #hero-section {
    flex-direction: column;
    padding: 0 20px;
    padding-top: 140px;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .hero-img {
    margin-left: 60px;
    height: 100%;
    width: 350px;
    object-fit: contain;
  }

  /* Main Section */
  /* Eligibility */

  #eligibility {
    margin-top: 300px;
    margin-bottom: 400px;
    flex-direction: column;
  }

  .eligibility-content {
    order: 1;
    width: 100%;
  }

  .eligibility-img-container {
    width: 100%;
    order: 0;
  }

  .eligibility-content h2 {
    width: 100%;
    font-size: 1.7rem;
    margin-bottom: 17px;
  }

  .eligibility-content p {
    width: 100%;
    padding: 0 15px;
  }
  .eligibility-btn {
    margin-bottom: 20px;
  }
  .eligibility-img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    margin-left: 65px;
  }

  /* Eligibility page styles  */
  /* Eligibility page header section */
  .eligibility-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
  }

  .eligibility-page-hero-first {
    position: sticky;
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eligibility-page-hero-second {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .eligibility-page-hero-img {
    width: 350px;
    height: 350px;
    margin-bottom: 50px;
    object-fit: contain;
    margin-left: 40px;
  }

  .eligibility-page-hero-second h2 {
    margin-top: -50px;
    position: relative;
    color: #131313;
    font-size: 3.1rem;
    margin-bottom: 40px;
  }

  .eligibility-page-underline {
    position: absolute;
    top: 60px;
    width: 250px;
    left: -10px;
  }

  .eligibility-page-hero-second p {
    padding: 0 20px;
  }

  /* Eligibility page main - video section  */

  .eligibility-video-container {
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }

  .explainer-video-p {
    font-size: 1rem;
    margin-top: 100px;
  }

  /* Eligibility page main - form section  */
  .eligibility-form-first,
  .eligibility-form-second {
    margin-top: 30px;
    padding: 20px 10px;
  }

  .general-details-first,
  .general-details-second,
  .general-details-third,
  .general-details-fourth,
  .vaccinations-first,
  .vaccinations-second,
  .behavior-first,
  .behavior-second,
  .socialization-first,
  .socialization-second {
    margin-top: 4px;
    flex-direction: column;
  }

  .general-details-second {
    gap: 0.2rem;
  }

  .general-details-third,
  .general-details-fourth,
  .vaccinations-first,
  .vaccinations-second,
  .general-details-third,
  .general-details-fourth {
    margin-top: 17px;
  }

  .eligibility-form-second-stick h2 {
    text-align: center;
  }

  .general-details h2 {
    font-size: 2rem;
    text-align: center;
  }

  .behavior-first,
  .behavior-second {
    width: 100%;
    flex-direction: column;
  }

  .behavior-second {
    margin-top: 25px;
  }

  .behavior-first-header-container,
  .behavior-second-header-container {
    width: 100%;
  }

  .general-details-third h3,
  .general-details-fourth h3,
  .vaccinations-first-header-container h3,
  .vaccinations-second-header-container h3,
  .behavior-first-header-container h3,
  .behavior-second-header-container h3,
  .socialization-first-header-container h3,
  .socialization-second-header-container h3 {
    font-size: 1rem;
  }

  .general-details-third-radio-container,
  .general-details-fourth-radio-container,
  .vaccinations-first-radio-container,
  .vaccinations-second-radio-container,
  .socialization-first-radio-container,
  .socialization-second-radio-container {
    width: 100%;
  }

  .behavior-first-radio-container,
  .behavior-second-radio-container {
    display: contents;
    width: 100%;
  }

  #eligibility-page-form .general-details-first input,
  #eligibility-page-form .general-details-second input {
    padding: 19px 20px;
  }

  #eligibility-page-form .general-details-first input {
    width: 100%;
  }

  .general-details-age-container {
    gap: 0;
    margin-top: 5px;
  }

  #eligibility-page-form
    .general-details-first
    .general-details-age-container
    input:nth-of-type(1) {
    margin-right: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  #eligibility-page-form
    .general-details-first
    .general-details-age-container
    input:nth-of-type(2) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .neutered-yes,
  .neutered-no,
  .medical-no,
  .medical-yes,
  .vaccinated-yes,
  .vaccinated-no,
  .received-recent-treatment-yes,
  .received-recent-treatment-no,
  .attended-day-care-yes,
  .attended-day-care-no,
  .basic-commands-sit,
  .basic-commands-stay,
  .basic-commands-come {
    width: 100%;
    padding: 12px 20px;
  }

  .interactions-superb,
  .interactions-good,
  .interactions-normal,
  .interactions-cautious,
  .interactions-aggressive {
    padding: 12px 20px;
    width: 100%;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
  }

  .vaccinations h2,
  .behavior h2,
  .socialization h2 {
    font-size: 2rem;
  }

  .eligibility-personal-info-first {
    margin-bottom: 7px;
  }

  .eligibility-personal-info-first,
  .eligibility-personal-info-second {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.4rem;
  }

  .eligibility-personal-info-first input,
  .eligibility-personal-info-second input {
    width: 100%;
    padding: 19px 20px;
  }

  .confirmation {
    cursor: pointer;
    font-size: 0.65rem;
    margin-left: 0px;
  }

  .confirmation input {
    width: 12px;
    height: 12px;
  }

  .eligibility-form-second button {
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    padding: 13px;
    border: none;
    background-color: #a7244e;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
  }

  /* Submission section */
  .submission-img-container {
    margin-top: 140px;
    display: flex;
    width: 90%;
    height: 90%;
  }

  .submission-content h2 {
    font-size: 3rem;
    font-style: italic;
    color: #a7244e;
  }

  .submission-content p {
    font-size: 1rem;
    text-align: center;
    max-width: 500px;
    padding: 0 10px;
  }

  .submission-img {
    min-width: 300px;
    width: 300px;
  }

  /* Newsletter Submission section  */
  .newsletter-img {
    min-width: 350px;
    width: 350px;
  }

  .newsletter-content h2 {
    margin-top: 30px;
    font-size: 3rem;
  }

  .newsletter-content p {
    padding: 0 10px;
    font-size: 1rem;
  }

  /* What we do  */

  .what-we-do-header {
    font-size: 2.8rem;
  }

  /* Location */
  .location-header h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }

  .location-img {
    width: 320px;
    height: 320px;
    object-fit: contain;
    margin-left: 60px;
  }

  .location-img-container {
    margin-bottom: 30px;
  }

  .location-map {
    height: 400px;
  }

  /* About Page Styles  */
  /* Founders Info Section */
  #founders-info {
    margin-top: 100px;
  }

  .founders-info-first h2 {
    font-size: 2.8rem;
  }
}

/* Screen sizes smaller than 600px */
@media screen and (max-width: 600px) {
  /* Header */
  .hero-content h1 {
    font-size: 1.5rem;
  }
  .hero-underline {
    width: 210px;
    right: 85px;
    bottom: -30px;
  }
  .hero-content h2 {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }

  /* Main Section */
  /* Eligibility */
  #eligibility {
    margin-top: 90px;
    margin-bottom: 100px;
    flex-direction: column;
  }

  /* What we do  */

  .what-we-do-header {
    font-size: 1.7rem;
  }

  /* Location */
  .location-header h2 {
    font-size: 2.3rem;
  }
}
